<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.zakafikry.ewaris">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hitung2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduction.IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Introduction.FaraidhActivity" />
        <activity android:name=".Introduction.AWarisActivity" />
        <activity android:name=".Introduction.DalilActivity" />
        <activity android:name=".Introduction.FTreeActivity" />
        <activity
            android:name=".Input.InputActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.InputActivity9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.ConfirmActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Input.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.help_pengenalan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Misc.help_hitung"
            android:screenOrientation="portrait" />
        <activity android:name=".Input.WelcomePage" />
        <activity android:name=".Input.TransitionInfo"></activity>
    </application>

</manifest>