<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.zakafikry.ewaris">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hitung2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InputActivity.InputActivity1" />
        <activity android:name=".InputActivity.InputActivity2" />
        <activity android:name=".InputActivity.InputActivity3" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".InputActivity.InputActivity4" />
        <activity android:name=".InputActivity.InputActivity5" />
        <activity android:name=".InputActivity.InputActivity6" />
        <activity android:name=".InputActivity.InputActivity7" />
        <activity android:name=".InputActivity.InputActivity8" />
        <activity android:name=".InputActivity.InputActivity9" />
        <activity android:name=".FinishActivity9" />
        <activity android:name=".InputActivity.ConfirmActivity1" />
        <activity android:name=".IntroActivity.IntroActivity" />
        <activity android:name=".InputActivity.ResultActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".IntroActivity.FaraidhActivity" />
        <activity android:name=".IntroActivity.AWarisActivity" />
        <activity android:name=".IntroActivity.DalilActivity" />
        <activity android:name=".IntroActivity.FTreeActivity" />
        <activity android:name=".IntroActivity.Main2Activity" />
    </application>

</manifest>